# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
bin/
dist/
build/
*.egg-info/

# Virtualenv
.env
.venv

# IDE and Editor settings
.vscode/
.idea/
*.swp
*.swo
*.tmp
*.log

# Miscellaneous
*.DS_Store
*.env